@charset "UTF-8";
.effect-fade {
  opacity: 0;
  transform: translateY(150px);
  transition: all 1.5s; }

.effect-fade.effect-scroll {
  opacity: 1;
  transform: translateY(0); }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  75% {
    opacity: .75;
    transform: translateX(-50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  75% {
    opacity: .75;
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes ufoAnimation {
  from { }
  25% {
    transform: translateX(-300px) rotateY(200deg); }
  50% {
    transform: translateX(300px) rotateY(400deg); }
  75% {
    transform: translateX(-300px) rotateY(200deg); }
  to { } }

@keyframes lightAnimation {
  0% { }
  25% {
    transform: translateX(-300px); }
  50% {
    transform: translateX(300px); }
  75% {
    transform: translateX(-300px); }
  100% { } }

@keyframes navListFade {
  from {
    transform: translateX(100px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

.heading-primary {
  backface-visibility: hidden;
  color: #FFF;
  text-align: center; }
  .heading-primary--main {
    font-size: 6rem;
    font-weight: 400;
    display: block;
    animation: .8s slideInLeft ease-in; }
    @media screen and (max-width: 375px) {
      .heading-primary--main {
        font-size: 4rem; } }
  .heading-primary--sub {
    animation: .8s slideInRight ease-in; }

.heading-secondary-box {
  text-align: center; }

.heading-secondary {
  border-bottom: 3px #ad65e0 solid;
  display: inline-block;
  font-size: 4rem;
  padding: 1rem;
  text-transform: uppercase; }

.heading-tertiary {
  font-size: 2rem;
  text-align: center; }

.text-primary {
  font-size: 1.8rem; }

.text-secondary {
  font-size: 1.4rem;
  min-width: 50px; }
  @media screen and (min-width: 769px) {
    .text-secondary {
      font-size: 1.6rem; } }
  @media screen and (min-width: 1024px) {
    .text-secondary {
      font-size: 2rem; } }

.warning-message {
  color: red;
  font-size: 1.6rem;
  font-weight: 800; }

.copyright {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px; }

.text-align-center {
  text-align: center; }

.box-sdw {
  box-shadow: 0 0 8px gray; }

.margin-top-small {
  margin-top: 30px; }

.margin-top-large {
  margin-top: 300px; }

.padding-left-small {
  padding-left: 20px; }

.app-summary {
  background-color: aqua; }
  .app-summary__item:not(:first-child) {
    margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .app-summary__item {
      display: flex; } }
  @media screen and (min-width: 768px) {
    .app-summary__img-box {
      width: 30%; } }
  .app-summary img {
    height: auto;
    width: 100%;
    vertical-align: bottom; }

.app-detail {
  background-color: yellow;
  margin-top: 20px; }
  .app-detail__link-box {
    text-align: center; }

.btn-square-shadow {
  appearance: none;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  /*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px; }
  @media screen and (max-width: 768px) {
    .btn-square-shadow {
      display: block;
      padding: 10px 30px; } }

.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  /*影を小さく*/
  border-bottom: none; }

.fluid {
  align-items: center;
  display: flex;
  margin: 0 auto;
  overflow: hidden; }
  .fluid--small {
    height: 200px;
    width: 200px; }
  .fluid--medium {
    height: 400px;
    width: 400px; }
    @media screen and (max-width: 480px) {
      .fluid--medium {
        height: 300px;
        width: 300px; } }
    @media screen and (max-width: 340px) {
      .fluid--medium {
        height: 250px;
        width: 250px; } }

.contact {
  margin-top: 20px;
  padding: 60px 40px; }
  @media screen and (max-width: 480px) {
    .contact {
      padding: 10px; } }
  .contact__form-box {
    margin-top: 20px;
    padding: 20px;
    width: 100%; }
  .contact__form {
    font-size: 1.3rem; }
    .contact__form:not(:last-child) {
      margin-bottom: 10px; }
  .contact__input {
    background-color: transparent;
    border: 1px solid;
    width: 90%; }
    @media screen and (min-width: 769px) {
      .contact__input {
        width: 60%; } }
    .contact__input:focus {
      outline: 2px solid rgba(173, 101, 224, 0.8); }
    .contact__input--text {
      padding: 5px; }
    .contact__input--message {
      height: 20vh; }

.required {
  background-color: #e43c3c;
  color: #FFF;
  margin-left: 4px; }

.hamburger {
  background-color: transparent;
  display: none;
  position: fixed;
  top: 4vh;
  left: 5%;
  transition: all .5s ease;
  z-index: 1000; }
  .hamburger__line {
    background-color: #ad65e0;
    margin: 6px;
    height: 3px;
    width: 30px;
    backface-visibility: hidden;
    transition: all .5s ease; }
    .hamburger__line.--short {
      width: 20px; }
  .hamburger.tgl-burger {
    transform: rotate(90deg); }

@media screen and (max-width: 768px) {
  .hamburger {
    display: block; } }

.tgl-line1 {
  background-color: #fff;
  transform: translateY(2px) rotate(45deg); }

.tgl-line2 {
  opacity: 0; }

.tgl-line3 {
  background-color: #fff;
  transform: translateY(-16px) rotate(-45deg); }

.footer {
  margin-top: 40px;
  padding: 20px; }

.sns-icon {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px auto;
  padding: 10px 20px;
  width: 40%;
  min-width: 200px;
  max-width: 300px; }
  @media screen and (max-width: 480px) {
    .sns-icon {
      position: fixed;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -90%);
      width: 60%;
      z-index: 10; } }
  .sns-icon__link {
    transition: all .2s ease; }
    .sns-icon__link:hover {
      transform: scale(1.2) translateY(-3px); }
    .sns-icon__link--twitter {
      color: #1da1f2; }
    .sns-icon__link--insta {
      color: #cf2e92; }
    .sns-icon__link--github {
      color: #545454; }
    .sns-icon__link--facebook {
      color: #3c5a99; }
  .sns-icon i {
    font-size: 2.4rem; }

.header {
  position: relative;
  padding: 0 20px 20px 20px;
  width: 100%; }
  .header__top {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: flex-end; }
    @media screen and (max-width: 768px) {
      .header__top {
        justify-content: space-between; } }
  .header__nav {
    display: flex;
    justify-content: space-around;
    width: 40%; }
    @media screen and (max-width: 768px) {
      .header__nav {
        background-color: #ad65e0;
        align-items: center;
        justify-content: normal;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all .5s ease-out;
        visibility: hidden;
        z-index: 100; }
        .header__nav.open {
          clip-path: circle(700px at 90% -20%);
          -webkit-clip-path: circle(700px at 90% -20%);
          visibility: visible; } }
    @media screen and (max-width: 768px) and (max-width: 480px) {
      .header__nav.open {
        clip-path: circle(600px at 90% -20%);
        -webkit-clip-path: circle(600px at 90% -20%); } }
  .header__list {
    font-size: 2rem;
    letter-spacing: 1px;
    list-style: none;
    text-transform: uppercase;
    padding: 10px 20px; }
    @media screen and (max-width: 768px) {
      .header__list {
        margin-top: 80px; } }
    @media screen and (min-width: 769px) {
      .header__list {
        margin-right: 20px; } }
    .header__list.list-effect {
      position: relative; }
      .header__list.list-effect::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        border-top: 3px solid #ad65e0;
        border-left: 3px solid #ad65e0;
        z-index: -1;
        transition: all .5s;
        box-sizing: border-box;
        opacity: 0; }
        @media screen and (max-width: 768px) {
          .header__list.list-effect::before {
            border-top: 3px solid #FFF;
            border-left: 3px solid #FFF; } }
      .header__list.list-effect::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 15px;
        width: 15px;
        border-bottom: 3px solid #ad65e0;
        border-right: 3px solid #ad65e0;
        z-index: -1;
        transition: all .5s;
        box-sizing: border-box;
        opacity: 0; }
        @media screen and (max-width: 768px) {
          .header__list.list-effect::after {
            border-bottom: 3px solid #FFF;
            border-right: 3px solid #FFF; } }
      .header__list.list-effect:hover::before, .header__list.list-effect:hover::after {
        width: 100%;
        height: 100%;
        opacity: 1; }
  .header__link {
    color: #545454;
    text-decoration: none; }
    @media screen and (max-width: 768px) {
      .header__link {
        color: #FFF; } }
  .header__main {
    margin-top: 30px; }

.row {
  display: flex;
  padding: 60px 40px; }
  @media screen and (max-width: 768px) {
    .row {
      padding: 10px 10px; } }
  .row img {
    height: auto;
    width: 100%;
    vertical-align: bottom; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #FFF;
  color: #545454;
  font-family: 'Ubuntu', sans-serif; }

.wrapper {
  background-color: orange;
  padding: 10px; }

.about {
  margin-top: 20px;
  padding: 60px 50px; }
  @media screen and (max-width: 768px) {
    .about {
      padding: 30px 10px; } }
  .about__img {
    margin-right: 50px;
    height: 400px;
    width: 200px; }
    @media screen and (max-width: 768px) {
      .about__img {
        display: none; } }
  .about__profile {
    padding: 20px;
    min-width: 200px;
    width: 70%; }
    @media screen and (max-width: 768px) {
      .about__profile {
        padding: 10px;
        width: 100%; } }
  .about__profile-text {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 10px; }
    @media screen and (min-width: 768px) {
      .about__profile-text {
        font-size: 2rem;
        line-height: 4rem; } }
    @media screen and (min-width: 1024px) {
      .about__profile-text {
        font-size: 2.4rem;
        line-height: 4.6rem; } }
    @media screen and (min-width: 1440px) {
      .about__profile-text {
        font-size: 　2 0.8rem;
        line-height: 5rem; } }
  .about__skill-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px; }
  .about__skill-item {
    margin: 10px;
    width: calc((100% - (40px * 1)) / 2); }
    @media screen and (min-width: 480px) {
      .about__skill-item {
        width: calc((100% - (40px * 2)) / 3); } }
    @media screen and (min-width: 1440px) {
      .about__skill-item {
        width: calc((100% - (40px * 3)) / 4); } }
  .about__skill-bar {
    display: flex;
    margin-top: 10px; }
  .about__skill-square {
    background-color: #ad65e0;
    height: 8px;
    width: 8px; }
    @media screen and (min-width: 480px) {
      .about__skill-square {
        height: 10px;
        width: 10px; } }
    @media screen and (min-width: 768px) {
      .about__skill-square {
        height: 12px;
        width: 12px; } }
    @media screen and (min-width: 1024px) {
      .about__skill-square {
        height: 14px;
        width: 14px; } }
    @media screen and (min-width: 1440px) {
      .about__skill-square {
        height: 16px;
        width: 16px; } }
    .about__skill-square:not(:last-child) {
      margin-right: 8px; }
    .about__skill-square.lighter {
      background-color: #e2bffc; }

.works {
  margin-top: 20px;
  padding: 40px 20px; }
  @media screen and (max-width: 480px) {
    .works {
      padding: 10px; } }
  .works__item-box {
    margin-top: 40px; }
    @media screen and (min-width: 768px) {
      .works__item-box {
        display: flex;
        flex-wrap: wrap; } }
  .works__item {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: 40px auto 0px auto;
    overflow: hidden;
    height: auto;
    max-width: 480px;
    width: 80%;
    transition: all .3s ease; }
    .works__item:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
      transform: scale(1.05) translateY(-3px); }
    @media screen and (min-width: 481px) {
      .works__item {
        width: 60%; } }
    @media screen and (min-width: 768px) {
      .works__item {
        width: 40%; } }
    @media screen and (min-width: 1024px) {
      .works__item {
        width: 30%; } }
  .works__description-box {
    background: rgba(255, 255, 255, 0.8);
    color: #313131;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0; }
    .works__description-box:hover {
      opacity: 1; }
  .works__description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .works__description {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-top: 20px; } }
    @media screen and (min-width: 1024px) {
      .works__description {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-top: 20px; } }
  .works img {
    height: auto;
    width: 100%;
    vertical-align: bottom; }
