.footer {
  margin-top: 40px;
  padding: 20px;
}

.sns-icon {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px auto;
  padding: 10px 20px;
  width: 40%;
  min-width: 200px;
  max-width: 300px;
}

@media screen and (max-width: 480px) {
  .sns-icon {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 60%;
    z-index: 10;
  }
}

.sns-icon__link {
  transition: all .2s ease;
}

.sns-icon__link:hover {
  transform: scale(1.2) translateY(-3px);
}

.sns-icon__link--twitter {
  color: #1da1f2;
}

.sns-icon__link--insta {
  color: #cf2e92;
}

.sns-icon__link--github {
  color: #545454;
}

.sns-icon__link--facebook {
  color: #3c5a99;
}

.sns-icon i {
  font-size: 20px;
}
