.footer {
    font-size: 16px;
    margin-top: 40px;
    padding: 20px;
}

.sns-icon {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px auto;
    padding: 10px 20px;
    width: 40%;
    min-width: 200px;
    max-width: 300px;

    @media screen and (max-width: 480px) {
        position: fixed;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -90%);
        width: 60%;
        z-index: 10;
    }

    &__link {

        transition: all .2s ease;

        &:hover {
            transform: scale(1.2) translateY(-3px);
        }
        
        &--twitter {
            color: #1da1f2;
        }

        &--insta{
            color: #cf2e92;
        }

        &--github {
            color: #545454;
        }

        &--facebook {
            color: #3c5a99;
        }
    }

    & i {
        font-size: 1.2em;
    }
}
