.header {
    position: relative;
    padding: 0 20px 20px 20px;
    width: 100%;

    &__top {
        align-items: center;
        display: flex;
        height: 10vh;
        justify-content: space-around;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            justify-content: space-between;
        }
    }

    &__logo-box {
        @media screen and (max-width: 768px) {
            position: fixed;
            top: 2vh;
            left: 10%;
            z-index: 99;
        }
    }

    &__logo {
        font-size: 3.5rem;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        width: 40%;

        @media screen and (max-width: 768px) {
            background-color: $color-secondary;
            align-items: center;
            justify-content: normal;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            clip-path: circle(100px at 90% -20%);
            -webkit-clip-path: circle(100px at 90% -20%);
            transition: all .5s ease-out;
            visibility: hidden;
            z-index: 100;

            &.open {
                clip-path: circle(700px at 90% -20%);
                -webkit-clip-path: circle(700px at 90% -20%);
                visibility: visible;

                @media screen and (max-width: 480px) {
                    clip-path: circle(600px at 90% -20%);
                    -webkit-clip-path: circle(600px at 90% -20%);
                }
            }
        }      
    }

    &__list {
        font-size: 2rem;
        letter-spacing: 1px;
        list-style: none;
        text-transform: uppercase;
        padding: 10px 20px;

        @media screen and (max-width: 768px) {
            margin-top: 80px;
        }

        @media screen and (min-width: 769px) {
            margin-right: 20px;
        }

        &.list-effect {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 15px;
                width: 15px;
                border-top: 3px solid $color-secondary;
                border-left: 3px solid $color-secondary;
                z-index: -1;
                transition: all .5s;
                box-sizing: border-box;
                opacity: 0;

                @media screen and (max-width: 768px) {
                    border-top: 3px solid $color-primary;
                    border-left: 3px solid $color-primary;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                height: 15px;
                width: 15px;
                border-bottom: 3px solid $color-secondary;
                border-right: 3px solid $color-secondary;
                z-index: -1;
                transition: all .5s;
                box-sizing: border-box;
                opacity: 0;

                @media screen and (max-width: 768px) {
                    border-bottom: 3px solid $color-primary;
                    border-right: 3px solid $color-primary;
                }
            }

            &:hover::before,
            &:hover::after {
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }
    }

    &__link {
        color: #545454;
        text-decoration: none;        

        @media screen and (max-width: 768px) {
            color: $color-primary;
        }
    }

    &__main {
        margin-top: 30px;
    }
}