
//row
.row {
    display: flex;
    margin-top: 2em;
}

.img-box {
    margin: 0 auto;
    width: 70%;

    @include mqMedium {
        width: 60%;
    }

    @include mqLarge {
        width: 50%;
    }

    & img {
        width: 100%;
        vertical-align: bottom;
    }
}

