
//row
.row {
    display: flex;
    padding: 40px 20px;

    @media screen and (max-width: 768px){
        padding: 10px 10px;
    }
}

.wrap-items {
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    &__item {
        
        background-color: rgb(138, 138, 209);

        @media screen and (min-width: 768px) {
            margin: 0 auto;
            width: calc((100% - (20% * 1)) / 2)
        }
    }

    & img {
        height: auto;
        width: 100%;
        vertical-align: bottom;
    }
}
