.row {
  display: flex;
  padding: 40px 20px;
}

@media screen and (max-width: 768px) {
  .row {
    padding: 10px 10px;
  }
}

.wrap-items {
  background-color: crimson;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.wrap-items__item {
  background-color: #8a8ad1;
}

@media screen and (min-width: 768px) {
  .wrap-items__item {
    margin: 0 auto;
    width: calc((100% - (20% * 1)) / 2);
  }
}

.wrap-items img {
  height: auto;
  width: 100%;
  vertical-align: bottom;
}
