.top {


    &-wrapper {

    }

    &-item {
        padding-left: 2em;
    }

    &-place {
        font-size: 2.4em;
        font-weight: 400;
    }

    &-date {
        font-size: 1.4em;
    }

}