.app-summary {
  background-color: aqua;
}

.app-summary__item:not(:first-child) {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .app-summary__item {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .app-summary__img-box {
    width: 40%;
  }
}

.app-summary img {
  height: auto;
  width: 100%;
  vertical-align: bottom;
}

.app-detail {
  background-color: yellow;
  margin-top: 20px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .app-detail {
    padding: 20px;
  }
}

.app-detail__item {
  border: 1px solid #313131;
  padding: 10px;
  margin: 0 auto;
}

.app-detail__item:not(:first-child) {
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .app-detail__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .app-detail__item:not(:first-child) {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .app-detail__item {
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .app-detail__item {
    width: 60%;
  }
}

.app-detail__link-box {
  text-align: center;
}
