
.app-detail {
    font-size: .7em;
    margin-top: 20px;
    padding: 10px;

    @include mqMedium {
        padding: 20px;
    }

    &__item {
        border: 1px solid #313131;
        padding: 10px;
        margin: 0 auto;

        &:not(:first-child) {
            margin-top: 20px;

            @include mqLarge {
                margin-top: 30px;
            }
    
            @media screen and (min-width: 1440px) {
                margin-top: 50px;
            }

        }

        @include mqMedium {
            width: 80%;
        }

        @include mqLarge {
            width: 70%;
        }

        @media screen and (min-width: 1440px) {
            width: 50%;
        }
    }

    &__link-box {
        text-align: center;
    }
}
