
.btn {
    appearance: none;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 28px;
    transition: all .1s ease;

    &:active {
        /*ボタンを押したとき*/
        -webkit-transform: translateY(4px);
        transform: translateY(4px);/*下に動く*/
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
        border-bottom: none;
    }

    @include mqMedium {
        display: inline-block;
        padding: 12px 36px;
    }

    &-box {
        margin: 30px auto 0 auto;
        text-align: center;
        width: 80%;
    }

    &-elliptical {
        border-radius: 30px;
        letter-spacing: .1em;

        @include mqMedium {
            min-width: 150px;
        }

        &:not(:first-child) { // ボタンが複数並ぶ時
            // sp表示時はbtnは縦並びなのでmtを適用。
            margin-top: 2em;
    
            @include mqMedium {
                // tab, pc表示時は横並びなのでmlを適用。
                margin-left: 1em;
            }
        }

        &--wantedly {
            background-color: rgb(0, 164, 187);/*ボタン色*/
            border-bottom: solid 4px rgb(2, 107, 121);
            color: #fff;

            &:hover {
                background-color: #fff;
                border: 1px solid rgb(0, 164, 187);
                color: rgb(0, 164, 187);
            }
        }

        &--qiita {
            background-color: rgb(55, 197, 0);/*ボタン色*/
            border-bottom: solid 4px rgb(39, 134, 1);
            color: #fff;

            &:hover {
                background-color: #fff;
                border: 1px solid rgb(55, 197, 0);
                color: rgb(55, 197, 0);
            }
        }

        &--submit {
            background-color: #668ad8;/*ボタン色*/
            border-bottom: solid 4px #627295;
            color: #fff;
            margin: 0 auto;
    
            &:hover {
                background-color: #fff;
                border: 1px solid #668ad8;
                color: #668ad8;
            }
        }

        &--back {
            background-color: rgb(59, 59, 59);/*ボタン色*/
            border-bottom: solid 4px rgb(30, 30, 30);
            color: #fff;
            margin: 0 auto;

            &:hover {
                background-color: #fff;
                border: 1px solid rgb(59, 59, 59);
                color: rgb(59, 59, 59);
            }
        }

        &--purple {
            background-color: rgb(173, 101, 224);/*ボタン色*/
            border-bottom: solid 4px rgb(156, 62, 223);
            color: #fff;

            &:hover {
                background-color: #fff;
                border: 1px solid rgb(173, 101, 224);
                color: rgb(173, 101, 224);
            }
        }

        &--github {
            background-color: #545454;/*ボタン色*/
            border-bottom: solid 4px #1f1e1e;
            color: #fff;

            &:hover {
                background-color: #fff;
                border: 1px solid #545454;
                color: #545454;
            }
        }
    }
}