
.btn {
    appearance: none;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    transition: all .1s ease;

    &:active {
        /*ボタンを押したとき*/
        -webkit-transform: translateY(4px);
        transform: translateY(4px);/*下に動く*/
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
        border-bottom: none;
    }

    @include mqMedium {
        display: inline-block;
        margin: auto;
        padding: 15px 40px;
    }

    &-box {
        margin: 30px auto 0 auto;
        width: 70%;

        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }

    &--shadow {
        background-color: #668ad8;/*ボタン色*/
        border-bottom: solid 4px #627295;
        border-radius: 3px;
        margin-top: 10px;
    }

    &-elliptical {
        border-radius: 30px;

        &:not(:first-child) { // sp表示時はbtnは縦並びなのでmtを適用。
            margin-top: 2em;
    
            @include mqMedium { // tab, pc表示時は横並びなのでmlを適用。
                margin-left: 3em;
            }
        }

        &--purple {
            background-color: rgb(173, 101, 224);/*ボタン色*/
            border-bottom: solid 4px rgb(156, 62, 223);
            color: #fff;

            &:hover {
                background-color: #fff;
                border: 1px solid rgb(173, 101, 224);
                color: rgb(173, 101, 224);
            }
        }

        &--github {
            background-color: #545454;/*ボタン色*/
            border-bottom: solid 4px #1f1e1e;
            color: #fff;

            &:hover {
                background-color: #fff;
                border: 1px solid #545454;
                color: #545454;
            }
        }
    }
}
