//流体

.js-fluid {
    align-items: center;
    display: flex;
    margin:  0 auto;
    height: 250px;
    width: 250px;
    overflow: hidden;

    @include mqSmall {
        height: 300px;
        width: 300px;
    }

    &--logo {
        height: 50px;
        width: 50px;
    }
}
