.contact {
    margin-top: 20px;
    padding: 60px 40px;

    @media screen and (max-width: 480px){
        padding: 14px;
    }

    &__form-box {
        font-size: .8em;
        margin: 10px auto 0 auto;
        padding: 1em;

        @include mqMedium {
            padding: 1em 6em;
        }

        @include mqLarge {
            padding: 2em 10em;
        }

        @include mqXLarge {
            padding: 3em 20em;
        }
    }

    &__form {
        margin-top: 10px;
        padding: 1em;
        width: 100%;

        &:not(:first-child) {
            margin-top: 1.2em;
        }
    }

    &__text {

        margin: 2em auto 0 auto;
        padding: .8em;
        text-align: center;
        width: 70%;
        
        &--check {
            background-color: rgb(59, 59, 59);
            border-left: 10px solid rgb(30, 30, 30);
            color: #fff;
        }

        &--success {
            background-color: rgb(240, 229, 250);
            border-left: 10px solid rgb(173, 101, 224);
        }
    }

    &__input {
        appearance: none;
        -webkit-appearence: none;
        background-color: transparent;
        border-radius: none;
        outline: none;
        margin-top: 6px;
        padding: 6px;
        width: 90%;

        &--text {
            border: none;
            border-bottom: 1px solid #313131;
            line-height: 2em;

            &:focus {
                border-bottom: 2px solid $color-secondary;
            }
        }

        &--message {
            height: 20vh;

            &:focus {
                border: 2px solid $color-secondary;
            }
        }
    }
}


.required {
    background-color: rgb(228, 60, 60);
    color: $color-primary;
    margin-left: 4px;
}
