.contact {
    margin-top: 20px;
    padding: 60px 40px;

    @media screen and (max-width: 480px){
        padding: 14px;
    }

    &__form-box {
        font-size: .8em;
        margin: 10px auto 0 auto;
        padding: 1em;

        @include mqMedium {
            width: 70%;
        }

        @include mqLarge {
            width: 60%;
        }

        @media screen and (min-width: 1440px) {
            width: 50%;
        }
    }

    &__form {
        margin-top: 10px;
        padding: 1em;
        width: 90%;

        &:not(:first-child) {
            margin-top: 1.2em;
        }

    }

    &__input {
        appearance: none;
        -webkit-appearence: none;
        background-color: transparent;
        border-radius: none;
        outline: none;
        margin-top: 6px;
        padding: 6px;
        width: 100%;

        &--text {
            border: none;
            border-bottom: 1px solid #313131;

            &:focus {
                border-bottom: 2px solid $color-secondary;
            }
        }

        &--message {
            height: 20vh;

            &:focus {
                border: 2px solid $color-secondary;
            }
        }
    }
}


.required {
    background-color: rgb(228, 60, 60);
    color: $color-primary;
    margin-left: 4px;
}
