.contact {
    margin-top: 20px;
    padding: 60px 40px;

    @media screen and (max-width: 480px){
        padding: 10px;
    }

    &__form-box {
        margin-top: 20px;
        padding: 20px;
        width: 100%;
    }

    &__form {
        font-size: 1.3rem;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

    }

    &__input {
        background-color: transparent;
        border: 1px solid;
        width: 90%;

        @media screen and (min-width: 769px) {
            width: 60%;
        }

        &:focus {
            outline: 2px solid rgba($color-secondary, .8);
        }

        &--text {
            padding: 5px;
        }

        &--message {
            height: 20vh;
        }
    }
}


.required {
    background-color: rgb(228, 60, 60);
    color: $color-primary;
    margin-left: 4px;
}
