// effect

.effect-fade {
    opacity: 0;
    transform: translateY(150px);
    transition: all 1.5s;
}


.effect-fade.effect-scroll {
    opacity: 1;
    transform: translateY(0);
}

.hover-effect {
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    transition: all .3s ease;

    &:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, .4);
        transform: scale(1.05) translateY(-3px);
    }
}

// animation

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    75% {
        opacity: .75;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    75% {
        opacity: .75;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ufoAnimation {
    from{}

    25% {transform: translateX(-300px) rotateY(200deg);}

    50% {transform: translateX(300px) rotateY(400deg);}

    75% {transform: translateX(-300px) rotateY(200deg);}

    to {}
}

@keyframes lightAnimation {
    0% {}

    25% {transform: translateX(-300px);}

    50% {transform: translateX(300px);}

    75% {transform: translateX(-300px);}

    100% {}
}

@keyframes navListFade {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}