
.heading {

    &-primary {
        backface-visibility: hidden;
        color: $color-primary;
        text-align: center;

        &--main {
            font-size: 1.2em;
            font-weight: 400;
            display: block;
            animation: .8s slideInLeft ease-in;

            @media screen and (min-width: 375px) {
                font-size: 1.6em;
            }
        }

        &--sub {
            font-size: .8em;
            animation: .8s slideInRight ease-in;
        }
    }

    &-secondary-box {
        text-align: center;
    }

    &-secondary {
        border-bottom: 3px $color-secondary solid;
        display: inline-block;
        font-size: 40px;
        padding: 1rem;
        text-transform: uppercase;
    }

    &-tertiary {
        font-size: 20px;
        text-align: center;
    }
}

.text {
    &-primary {
        font-size: 18px;
    }

    &-secondary {
        font-size: 14px;
        min-width: 50px;

        @include mqMedium {
            font-size: 16px;
        }

        @include mqLarge {
            font-size: 20px;
        }
    }
}

.warning-message {
    color: red;
    font-size: 16px;
    font-weight: 800;
}

.copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}