
.heading {

    &-primary {
        backface-visibility: hidden;
        color: $color-primary;
        text-align: center;

        &--main {
            font-size: 6rem;
            font-weight: 400;
            display: block;
            animation: .8s slideInLeft ease-in;

            @media screen and (max-width: 375px) {
                font-size: 4rem;
            }
        }

        &--sub {
            animation: .8s slideInRight ease-in;
        }
    }

    &-secondary {
        border-bottom: 3px $color-secondary solid;
        display: inline-block;
        font-size: 4rem;
        padding: 1rem;
        text-transform: uppercase;
    }

    &-tertiary {
        font-size: 2rem;
        text-align: center;
    }
}

.text {
    &-primary {
        font-size: 1.8rem;
    }

    &-secondary {
        font-size: 1.4rem;
        min-width: 50px;

        @media screen and (min-width: 769px) {
            font-size: 1.6rem 
        }

        @media screen and (min-width: 1024px) {
            font-size: 2rem 
        }
    }
}

.warning-message {
    color: red;
    font-size: 1.6rem;
    font-weight: 800;
}

.copyright {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}