.about {
    margin-top: 20px;
    padding: 60px 50px;

    @media screen and (max-width: 768px){
        padding: 30px 10px;
    }

    &__img {
        margin-right: 50px;
        height: 400px;
        width: 200px;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__profile {
        padding: 20px;
        min-width: 200px;
        width: 70%;

        @media screen and (max-width: 768px){
            padding: 10px;
            width: 100%;
        }
    }

    &__profile-text {
        padding: 10px;
    }

    &__skill-items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 20px;
        padding: 20px;

        @media screen and (max-width: 768px){
            padding: 0px;
        }
    }

    &__skill-item {
        margin: 10px;
        padding: 20px;
        min-width: 70px;

        @media screen and (max-width: 768px){
            margin: 10px;
            padding: 0;
        }
    }

    &__skill-bar {
        display: flex;
        margin-top: 10px;
        min-width: 50px;
    }

    &__skill-square {
        background-color: $color-secondary;
        height: 8px;
        width: 8px;

        &:not(:last-child) {
            margin-right: 8px;
        }

        &.lighter {
            background-color: rgb(226, 191, 252);
        }
    }
}