.about {

    &__img-box {
        margin: 20px 30px;
        height: 560px;
        width: 280px;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    & img {
        height: auto;
        width: 100%;
        vertical-align: bottom;
    }

    &__profile {
        font-size: 14px;
        padding: 10px;
        min-width: 200px;
        width: 70%;

        @media screen and (max-width: 768px){
            padding: 10px;
            width: 100%;
        }
    }

    &__profile-text {
        font-size: .8em;
        line-height: 2.4em;
        padding: 0 20px;

        @include mqMedium {
            font-size: 1.4em;
            line-height: 2.6em;
        }

        @include mqLarge {
            font-size: 1.6em;
            line-height: 2.8em;
        }

        @include mqXLarge {
            font-size: 1.8em;
            line-height: 3.2em;
        }
    }

    &__skill-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        padding: 10px;
    }

    &__skill-item {
        margin: 10px;
        width: calc((100% - (40px * 1)) / 2);

        @include mqSmall {
            width: calc((100% - (40px * 2)) / 3);
        }

        @include mqXLarge {
            width: calc((100% - (40px * 3)) / 4);
        }
    }

    &__skill-bar {
        display: flex;
        margin-top: 10px;
    }

    &__skill-square {
        background-color: $color-secondary;
        height: 8px;
        width: 8px;

        @media screen and (min-width: 480px){
            height: 10px;
            width: 10px;
        }

        @media screen and (min-width: 768px){
            height: 12px;
            width: 12px;
        }

        @media screen and (min-width: 1024px){
            height: 14px;
            width: 14px;
        }

        @media screen and (min-width: 1440px){
            height: 16px;
            width: 16px;
        }

        &:not(:last-child) {
            margin-right: 8px;
        }

        &.lighter {
            background-color: rgb(226, 191, 252);
        }
    }
}