
body {
    background-color: #FFF;
    color: #545454;
    font-family: 'Ubuntu', sans-serif;
}

main {
    font-size: 14px;

    @include mqMedium {
        font-size: 18px;
    }

    @include mqLarge {
        font-size: 22px;
    }
}

.wrapper {
    padding: 10px;

    @include mqMedium {
        padding: 20px;
    }
}

.container {
    margin-top: 20px;
    padding: 10px;

    @include mqSmall {
        padding: 40px 20px;
    }
}

