* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FFF;
  color: #545454;
  font-family: 'Ubuntu', sans-serif;
}

/*
.loading {
    background-color: $color-secondary;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.ufo {
    margin: 8rem auto;
    height: 100vh;
    text-align: center;
    width: 100%;


    &__img{
        animation: ufoAnimation 2.5s ease-in-out;
        height: 15vh;
        margin: 0 auto;
        width: 15%;
    }

    &__light {
        animation: lightAnimation 2.5s ease-in-out;
        border-bottom: 400px solid yellow;
        border-left: 200px solid transparent;
        border-right: 200px solid transparent;
        margin: 0 auto;
        width: 10%;
    }
}
*/
