* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // This defines what 1rem is
}

body {
    //background-color: $color-primary;
    background-color: #FFF;
    color: #545454;
    font-family: 'Ubuntu', sans-serif;
}


