body {
  background-color: #FFF;
  color: #545454;
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (min-width: 480px) {
  main {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  main {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    font-size: 26px;
  }
}

.wrapper {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 20px;
  }
}
