* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // This defines what 1rem is
}

body {
    background-color: #FFF;
    color: #545454;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    background-color: orange;
    padding: 10px;

    @media screen and (min-width: 768px) {
        padding: 50px;
    }
}

