.works {
    margin-top: 20px;
    padding: 10px;

    @include mqSmall {
        padding: 40px 20px;
    }

    &__description-box {
        background: rgba($color-primary, .8);
        color: #313131;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;

        @include mqLarge {
            font-size: .7em;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__description {
        font-size: .8em;
        line-height: 1.2em;
        margin-top: 10px;
    
        @include mqMedium {
            font-size: 1em;
            line-height: 1.4em;
            margin-top: 20px;
        }

        @include mqLarge {
            font-size: 1.2em;
            line-height: 1.6em;
            margin-top: 20px;
        }
    }
}


