.works {
    font-size: 16px;
    margin-top: 20px;
    padding: 40px 20px;

    @media screen and (max-width: 480px) {
        padding: 10px;
    }

    &__item-box {

        margin-top: 40px;

        @media screen and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        border: 1px solid rgba(0, 0, 0, .4);
        border-radius: 5px;
        overflow: hidden;
        transition: all .3s ease;

        &:hover {
            box-shadow: 0 0 12px rgba(0, 0, 0, .4);
            transform: scale(1.05) translateY(-3px);
        }
    }

    &__description-box {
        background: rgba($color-primary, .8);
        color: #313131;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &__description {
        font-size: .8em;
        line-height: 1.2em;
        margin-top: 10px;
    
        @media screen and (min-width: 768px) {
            font-size: 1em;
            line-height: 1.4em;
            margin-top: 20px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 1.2em;
            line-height: 1.6em;
            margin-top: 20px;
        }
    }
}


